* {
    margin: 0px;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(197, 193, 190);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
