* {
    margin: 0px;
    box-sizing: border-box;
    
}

.wrapper{
    background-image: url(../../backgroundAssets/bg1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
