.template{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    width: 420px;
    height: 420px;
    @media screen and (max-width:578px) {
        width: 320px;
        margin-left: 0px;
        height: 350px;
        }
}

.template__letter{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px rgb(221, 200, 81) solid;
    border-radius: 10px;
    background-color: rgb(223, 204, 145);
    margin: 1.5px;
    @media screen and (max-width:578px) {
    min-width: 45px;
    min-height: 45px;
    }
}
.template__letter-inner{
    opacity: 0;
    font-size:26px;
    color: tomato;
    @media screen and (max-width:578px) {
        font-size:22px;
        opacity: 0;
        }
        &--visible{
            opacity: 1;
            @media screen and (max-width:578px) {
                opacity: 1;
                }
        }
}
.template__word{
position: absolute;
display: flex;
    &--stretch{
        width: 50px;
        flex-wrap: wrap;
    }  
}
.index_0.template_1{
top: 212px;
left: 70px;
@media screen and (max-width:578px) {
    top: 193px;
    left: 50px;
    }
}
.index_1.template_1 {
 top: 0px;
 left: 70px;
 @media screen and (max-width:578px) {
    top: 0px;
    left: 50px;
    }
 }
.index_2.template_1 {
    top: 212px;
    left: 70px;
    @media screen and (max-width:578px) {
        top: 193px;
        left: 50px;
        }
 }
.index_3.template_1 {
    top: 212px;
    left: 282px;
    @media screen and (max-width:578px) {
        top: 193px;
        left: 242px;
        }
 }
 .index_4.template_1 {
    top: 212px;
    left: 176px;
    @media screen and (max-width:578px) {
        top: 193px;
    left: 145px
        }
    }
.index_5.template_1 {
    top: 0px;
    left: 123px;
    @media screen and (max-width:578px) {
        top: 0px;
        left: 98px;
        }
}

// TL 2

.index_0.template_2{
    top: 0px;
    left: 30px;
    @media screen and (max-width:578px) {
        top: 0px;
        left: -10px;
        }
    }
    .index_1.template_2 {
     top: 0px;
     left: 136px;
     @media screen and (max-width:578px) {
        top: 0px;
        left: 85px;
        }
     }
    .index_2.template_2 {
        top: 159px;
        left: 30px;
        @media screen and (max-width:578px) {
            top: 144px;
            left: -10px;
            }
     }
    .index_3.template_2 {
        top: 107px;
        left: 348px;
        @media screen and (max-width:578px) {
            top: 95px;
            left: 278px;
            }
     }
     .index_4.template_2 {
        top: 107px;
        left: 242px;
        @media screen and (max-width:578px) {
            top: 96px;
        left: 182px
            }
        }
    .index_5.template_2 {
        top: 0px;
        left: 242px;
        @media screen and (max-width:578px) {
            top: 0px;
            left: 182px;
            }
    }
